@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

html {
    background: #f6dc3133;
    background-image: url('./assets/background.png');
    background-size: contain;
    background-position: center;
}